<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/views/style.css" rel="stylesheet" type="text/css">
    <title>Title Page</title>
</head>

<body>

    <div id="header">
        <img src="views\elanco_logo.png"  alt="logo" class="centreimage" />    
    </div>
    <div class="container">
        
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="image">Select a file</label>
            <input type="file" name="image" id="image">
            <input type="submit">
        </form>

    </div>
    <div class="container">
        <div class="header">
            Report
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        </div>
    </div>
    <div class="backgroundHere">
    </div>
    <div class="firstFooter">
        <div class="firstFooterContainer">
            <div class = "Header">
                Our Company 
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/about-elanco">We Are Elanco</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/our-journey">Our Journey</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/culture-and-values">Culture Journey</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/our-people">Our People</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/sustainability">Sustainability</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/sustainability/the-foundation">Elanco Foundation</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/contact">Contact</a>
            </div>
            <div class = "footer-text">
                <a style="text-decoration: none" href="https://www.elanco.com/en-us/suppliers">Suppliers</a>
            </div>
        </div>
    </div>

    <div class="secondFooter">
    </div>




<script src="script.js"></script>

</body>
</html>